@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
  }
.small-scrollbar::-webkit-scrollbar {
	width: 2px;
  }
  .small-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	margin-top: 50px;
  }
  
  .small-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgb(17,23,38);
	outline: 1px solid #333333;
}

@media print {
  
  /* ۱. مخفی کردن همه چیز در صفحه */
  body * {
    visibility: hidden;
  }

  /* ۲. نمایش دادن فقط بخش رزومه و محتویات داخلش */
  #resume-content, #resume-content * {
    visibility: visible;
  }

  /* ۳. تنظیم دقیق جایگاه رزومه روی کاغذ */
  #resume-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm; /* عرض دقیق A4 */
    min-height: 297mm; /* ارتفاع دقیق A4 */
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    /* حذف سایه و بوردر برای تمیزی در چاپ */
    box-shadow: none !important;
    border: none !important;
    
    /* اجبار به چاپ رنگ‌های پس‌زمینه (خیلی مهم) */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* ۴. حذف هدر و فوترهای پیش‌فرض مرورگر (تاریخ، آدرس سایت و...) */
  @page {
    size: A4 portrait;
    margin: 0mm; /* حاشیه صفر تا رزومه کل صفحه را بگیرد */
  }

  /* مخفی کردن اسکرول‌بارها */
  html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0 !important; 
    padding: 0 !important;
  }
}